body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f0f0f0;
}

#mainBox {
    display: flex;
    flex-direction: row;
}

div {
    border: 1px solid black;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}